# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Ken\SpamDetector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
